body{ margin: 0px;
  overflow: hidden;
}

#btn{
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 40px;
  padding: 10px;
  font: Arial 30px;
  border-radius: 8px;
  border: none;
  background: #00a;
  color: #fff;
}